<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>WebApp3</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>RoleIdentifier</servlet-name>
    <servlet-class>RoleIdentifier</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RoleIdentifier</servlet-name>
    <url-pattern>/RoleIdentifier</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ViewOrders</servlet-name>
    <servlet-class>ViewOrders</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewOrders</servlet-name>
    <url-pattern>/ViewOrders</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateOrder</servlet-name>
    <servlet-class>UpdateOrder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateOrder</servlet-name>
    <url-pattern>/UpdateOrder</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Buy</servlet-name>
    <servlet-class>Buy</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Buy</servlet-name>
    <url-pattern>/Buy</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShoppingCart</servlet-name>
    <servlet-class>ShoppingCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShoppingCart</servlet-name>
    <url-pattern>/ShoppingCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteFromCart</servlet-name>
    <servlet-class>DeleteFromCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteFromCart</servlet-name>
    <url-pattern>/DeleteFromCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateQuantity</servlet-name>
    <servlet-class>UpdateQuantity</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateQuantity</servlet-name>
    <url-pattern>/UpdateQuantity</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CheckOut</servlet-name>
    <servlet-class>CheckOut</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckOut</servlet-name>
    <url-pattern>/CheckOut</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PurchaseSucess</servlet-name>
    <servlet-class>PurchaseSucess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PurchaseSucess</servlet-name>
    <url-pattern>/PurchaseSucess</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>WriteReview</servlet-name>
    <servlet-class>WriteReview</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WriteReview</servlet-name>
    <url-pattern>/WriteReview</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>storeReview</servlet-name>
    <servlet-class>storeReview</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>storeReview</servlet-name>
    <url-pattern>/storeReview</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>viewReviews</servlet-name>
    <servlet-class>viewReviews</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUp</servlet-name>
    <url-pattern>/SignUp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SignUp</servlet-name>
    <servlet-class>SignUp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SalesManServlet</servlet-name>
    <url-pattern>/SalesManServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SalesManServlet</servlet-name>
    <servlet-class>SalesManServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StoreManagerServlet</servlet-name>
    <url-pattern>/StoreManagerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StoreManagerServlet</servlet-name>
    <servlet-class>StoreManagerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddItems</servlet-name>
    <url-pattern>/AddItems</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddItems</servlet-name>
    <servlet-class>AddItems</servlet-class>
  </servlet>
  
    <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>Logout</servlet-class>
  </servlet>
</web-app>